
html {
	margin: 0;
	padding: 0;
	}


body {
	font: normal 1.4em georgia, sans-serif;  
	font-size:30px;
	line-height: 1.2;
	color: black; 
	margin: 0; 
	margin-left: 50px;
	padding: 0;
	}


lg {     font-size:20px;
	color: #555753;
	margin-top: 0; 
	text-align: justify;
	display: inline;
	}

lg:after {
	content: " ||";
 	}


l {     font-size:20px;
	color: #555753;
	margin-top: 0; 
	text-align: justify;
	display: inline;
}


 /* Tooltip container */

.tooltip {
  position: relative;
  display: inline;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

